body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  /* Add a background color to match the chart */
  background-color: #222;
  color: #FFFFFF;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.chart-container {
  width: 70%;
  padding: 20px;
}

.balance-info {
  width: 25%;
  padding: 20px;
  background-color: #363636;
  color: #FFFFFF;
}

.balance-label {
  font-size: 24px;
  font-weight: bold;
  color: #d4d4d4; /* Choose your desired color */
}

/* Style for the balance amount */
.balance-amount {
  font-size: 24px;
  color: #d4d4d4; /* Choose your desired color */
  /* You can add additional styles like font-weight, font-family, etc. */
}

.pnl-label {
  font-size: 20px;
  font-weight: bold;
  color: #d4d4d4; /* Choose your desired color */
}

/* Style for the balance amount */
.pnl-percentage {
  font-size: 20px;
  color: #d4d4d4; /* Choose your desired color */
  /* You can add additional styles like font-weight, font-family, etc. */
}

.option-box {
  padding: 20px;
  background-color: #222;
  color: #FFFFFF;
}
